In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
df = pd.read_csv("superstore.csv")

# Data preparation

In [17]:
df.head()

,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
7980,2015-01-03,2015-01-07,Standard Class,Darren Powers,Consumer,United States,Houston,Texas,77095.0,Central,OFF-PA-10000174,Office Supplies,Paper,"Message Book, Wirebound, Four 5 1/2"" X 4"" Form...",16.448
741,2015-01-04,2015-01-08,Standard Class,Phillina Ober,Home Office,United States,Naperville,Illinois,60540.0,Central,OFF-BI-10004094,Office Supplies,Binders,GBC Standard Plastic Binding Systems Combs,3.540
740,2015-01-04,2015-01-08,Standard Class,Phillina Ober,Home Office,United States,Naperville,Illinois,60540.0,Central,OFF-ST-10002743,Office Supplies,Storage,SAFCO Boltless Steel Shelving,272.736
739,2015-01-04,2015-01-08,Standard Class,Phillina Ober,Home Office,United States,Naperville,Illinois,60540.0,Central,OFF-LA-10003223,Office Supplies,Labels,Avery 508,11.784
1759,2015-01-05,2015-01-12,Standard Class,Mick Brown,Consumer,United States,Philadelphia,Pennsylvania,19143.0,East,OFF-AR-10003478,Office Supplies,Art,Avery Hi-Liter EverBold Pen Style Fluorescent ...,19.536

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 7980 to 5091
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9800 non-null   datetime64[ns]
 1   Ship Date      9800 non-null   datetime64[ns]
 2   Ship Mode      9800 non-null   object
 3   Customer Name  9800 non-null   object
 4   Segment        9800 non-null   object
 5   Country        9800 non-null   object
 6   City           9800 non-null   object
 7   State          9800 non-null   object
 8   Postal Code    9800 non-null   float64
 9   Region         9800 non-null   object
 10  Product ID     9800 non-null   object
 11  Category       9800 non-null   object
 12  Sub-Category   9800 non-null   object
 13  Product Name   9800 non-null   object
 14  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(11)
memory usage: 1.2+ MB

In [19]:
df.describe()

,Order Date,Ship Date,Postal Code,Sales
count,9800,9800,9800.000000,9800.000000
mean,2017-05-01 05:13:51.673469440,2017-05-05 04:17:52.653061120,55217.343265,230.769059
min,2015-01-03 00:00:00,2015-01-07 00:00:00,1040.000000,0.444000
25%,2016-05-24 00:00:00,2016-05-27 18:00:00,23223.000000,17.248000
50%,2017-06-26 00:00:00,2017-06-29 00:00:00,57551.000000,54.490000
75%,2018-05-15 00:00:00,2018-05-19 00:00:00,90008.000000,210.605000
max,2018-12-30 00:00:00,2019-01-05 00:00:00,99301.000000,22638.480000
std,NaN,NaN,32066.750532,626.651875

In [20]:
df.drop(["Row ID","Order ID","Customer ID"],inplace=True, axis=1)

KeyError: "['Row ID', 'Order ID', 'Customer ID'] not found in axis"

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9800 non-null   object
 1   Ship Date      9800 non-null   object
 2   Ship Mode      9800 non-null   object
 3   Customer Name  9800 non-null   object
 4   Segment        9800 non-null   object
 5   Country        9800 non-null   object
 6   City           9800 non-null   object
 7   State          9800 non-null   object
 8   Postal Code    9789 non-null   float64
 9   Region         9800 non-null   object
 10  Product ID     9800 non-null   object
 11  Category       9800 non-null   object
 12  Sub-Category   9800 non-null   object
 13  Product Name   9800 non-null   object
 14  Sales          9800 non-null   float64
dtypes: float64(2), object(13)
memory usage: 1.1+ MB

In [ ]:
# Change format to date time
df['Order Date'] = pd.to_datetime(df['Order Date'], format='%d/%m/%Y')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], format='%d/%m/%Y')

In [11]:
# Sort by date
df.sort_values(by=['Order Date'], inplace=True, ascending=True)

In [12]:
# Fixing nulls
df.isnull().sum()

Order Date        0
Ship Date         0
Ship Mode         0
Customer Name     0
Segment           0
Country           0
City              0
State             0
Postal Code      11
Region            0
Product ID        0
Category          0
Sub-Category      0
Product Name      0
Sales             0
dtype: int64

In [13]:
df[df['Postal Code'].isnull()]

,Order Date,Ship Date,Ship Mode,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
5274,2016-11-07,2016-11-09,Second Class,Stewart Visinsky,Consumer,United States,Burlington,Vermont,NaN,East,FUR-CH-10000595,Furniture,Chairs,Safco Contoured Stacking Chairs,715.20
9741,2016-11-08,2016-11-12,Standard Class,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,FUR-BO-10004834,Furniture,Bookcases,"Riverside Palais Royal Lawyers Bookcase, Royal...",4404.90
9146,2017-01-23,2017-01-27,Standard Class,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10002926,Technology,Accessories,Logitech Wireless Marathon Mouse M705,99.98
9148,2017-01-23,2017-01-27,Standard Class,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-ST-10001526,Office Supplies,Storage,Iceberg Mobile Mega Data/Printer Cart,1564.29
9147,2017-01-23,2017-01-27,Standard Class,Claudia Bergmann,Corporate,United States,Burlington,Vermont,NaN,East,OFF-AR-10003477,Office Supplies,Art,4009 Highlighters,8.04
8798,2017-04-06,2017-04-10,Standard Class,Valerie Mitchum,Home Office,United States,Burlington,Vermont,NaN,East,TEC-PH-10002555,Technology,Phones,Nortel Meridian M5316 Digital phone,1294.75
9388,2018-01-19,2018-01-23,Standard Class,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-AP-10000828,Office Supplies,Appliances,Avanti 4.4 Cu. Ft. Refrigerator,542.94
9389,2018-01-19,2018-01-23,Standard Class,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,2.04
9387,2018-01-19,2018-01-23,Standard Class,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10001970,Office Supplies,Paper,Xerox 1881,12.28
9386,2018-01-19,2018-01-23,Standard Class,Raymond Messe,Consumer,United States,Burlington,Vermont,NaN,East,OFF-PA-10000157,Office Supplies,Paper,Xerox 191,79.92
2234,2018-12-05,2018-12-10,Standard Class,Quincy Jones,Corporate,United States,Burlington,Vermont,NaN,East,TEC-AC-10001013,Technology,Accessories,Logitech ClearChat Comfort/USB Headset H390,205.03

In [14]:
 # Replacing null postal code for Burlington city
df['Postal Code'] = df['Postal Code'].fillna(5401)

In [15]:
df.isnull().sum()

Order Date       0
Ship Date        0
Ship Mode        0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9800 entries, 7980 to 5091
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order Date     9800 non-null   datetime64[ns]
 1   Ship Date      9800 non-null   datetime64[ns]
 2   Ship Mode      9800 non-null   object
 3   Customer Name  9800 non-null   object
 4   Segment        9800 non-null   object
 5   Country        9800 non-null   object
 6   City           9800 non-null   object
 7   State          9800 non-null   object
 8   Postal Code    9800 non-null   float64
 9   Region         9800 non-null   object
 10  Product ID     9800 non-null   object
 11  Category       9800 non-null   object
 12  Sub-Category   9800 non-null   object
 13  Product Name   9800 non-null   object
 14  Sales          9800 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(11)
memory usage: 1.2+ MB

# Exploratory data analysis